<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:b="http://www.springframework.org/schema/beans" xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                            http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.2.xsd">
        <http use-expressions="false">
            <form-login
                    login-page="/login.html"
                    login-processing-url="/user_login.action"
                    default-target-url="/index.html"
                    username-parameter="email"
                    password-parameter="password"/>
            <intercept-url pattern="/login.html" access="IS_AUTHENTICATED_ANONYMOUSLY" />
            <intercept-url pattern="/*" access="ROLE_ADMIN" />
            <csrf disabled="true" />
        </http>

        <authentication-manager>
            <authentication-provider user-service-ref="userService"/>
        </authentication-manager>
</beans:beans>