<div class="left-nav-section">
    <h3 class="title">任务列表:</h3>
    <section ng-repeat="item in leftNavSectionCtrl.tasksList" layout="row">
        <div class="badge">
            {{item.number}}
            <md-tooltip ng-switch="item.status">
                <span ng-switch-when="TO_DO">当前由 {{item.number}} 个任务需要完成。</span>
                <span ng-switch-when="IN_PROGRESS">当前有 {{item.number}} 个任务正在做。</span>
                <span ng-switch-when="FINISHED">当前已经完成 {{item.number}} 个任务。</span>
                <span ng-switch-when="BLOCKED">当前有 {{item.number}} 个任务在修改状态。</span>
            </md-tooltip>
        </div>
        <div class="name">{{item.name}}</div>
    </section>
</div>