* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
}
.container {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.container .top-navigation {
  padding-left: 15px;
  background-color: #3b4452;
}
.container .main {
  flex: 1;
  border: 1px solid palegoldenrod;
}
.inline-block {
  display: inline-block;
}
