.coffee-login-form {
    width: 300px;
    margin: 150px auto;
    z-index: 9999;
}

.coffee-login-btn-section {
    margin-top:15px;
}

.coffee-login-btn-section button:nth-child(2) {
    margin-left: 15px;
}

.coffee-watermark {
    text-align: center;
    font-size: 200px;
    color: gainsboro;

    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    transform:rotate(-30deg);
}

































